body {
  font-family: Arial, sans-serif;
}

.header {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 133px;
}
.main-dashboard {
  background: #E5E5E5;
  height: 891px;
  vertical-align: center;
  overflow: hidden;
  width: 100%;
}

.title {
  float: left;
  font-weight: bold;
  color: #91A6C5;
  font-size: 38px;
  line-height: 133px;
  padding-left: 97px;
  padding-right: 70px;
}

.head-tab {
  float: left;
  color: #91A6C5;
  font-size: 18px;
  padding-right: 30px;
  line-height: 133px;
  font-weight: lighter;
}

.right-dashboard {
  float: right;
  padding-top: 40px;
  padding-right: 35px;
}

.log-out {
  text-align: right;
  color: #91A6C5;
}

.active-tab {
  border-bottom: 5px solid #91A6C5;
}
.left-panel {
  width: 500px;
  height: 100%;
  display: inline-block;
  background: purple;
}
.right-panel {
  display: inline-block;
  height: 100%;
  background: red;
}
