* {
  box-sizing: border-box;
  font-family: helvetica;
  color: #696969;

}

body {
  background-color: #white;
  display: flex;
  align-items: center;
  justify-content: : center;
}

.oh-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.oh-container.show {
  opacity: 1;
  pointer-events: auto;
}

.OH {
  border-color: #778899;
  border-style: solid;
  background-color: #F0E68C;
  padding: 30px 50px;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  text-align: center;
  box-shadow: 4px 3px 3px 3px #888888;
}

.red {
  color: red;
  margin-right: 30px;
}

.link {
  text-decoration: underline;
  color: #1E90FF;
  margin-left: 30px;
}

.info {
  text-align: left;
}

.selection {
  text-align: left;
  margin-bottom: 20px;
}

.box1 {
  margin-left: 22px;
  background-color: #FFB6C1;
  height: 15px;
  width: 250px;
  float: left;
  border-radius: 5px;
}

.number_limit {
  margin-left: 280px;
}

.box2 {
  margin-left: 22px;
  background-color: #FFB6C1;
  height: 15px;
  width: 50px;
  float: left;
  border-radius: 5px;
}

.number_chain {
  margin-left: 80px;
}

.box3 {
  margin-left: 22px;
  background-color: #FFB6C1;
  height: 15px;
  width: 50px;
  float: left;
  border-radius: 5px;
}

.number_advice {
  margin-left: 80px;
}

.blue {
  text-decoration: underline;
  color: #1E90FF;
  margin-right: 60px;
}

.attending {
  margin-left: 60px;
}

p {
  text-align: left;
}

.professor {
  border: solid;
  border-radius: 5px;
  border-color: #778899;
  width: 120px;
  height: 120px;
  text-align: center;
  float: left;
  background-color: white;
}

.photo {
  text-align: center;
  margin-top: 40px;
}

.list {
  text-align: left;
  margin-left: 110px;
  margin-top: 35px;
}

.calendar {
  border: solid;
  margin-top: 35px;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border-color: #1E90FF;
  background-color: white;
  margin-left: 360px;
}

.add{
  color: #1E90FF;
}

ul {
  list-style-type: square;
}

li {
  padding: 5px;
}

h2 {
  color: black;
}

.button {
  margin-left: 480px;
  background: none;
  border: none;
}
