* {
  box-sizing: border-box;
  font-family: helvetica;
  color: #696969;

}

body {
  background-color: #white;
  display: flex;
  align-items: center;
  justify-content: : center;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
}

.app-container.show {
  opacity: 1;
  pointer-events: auto;
}

.app {
  border-color: #778899;
  border-style: solid;
  background-color: #E2EEFF;
  padding: 30px 50px;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  text-align: center;
  box-shadow: 4px 3px 3px 3px #888888;
}

.title {
  font-size: 30px;
}

.session {
  margin-top: 20px;
}

.red {
  color: red;
  margin-right: 30px;
}

.link {
  text-decoration: underline;
  color: #1E90FF;
  margin-left: 30px;
}

.info {
  text-align: left;
}

.topics {
  margin-left: 20px;
}

.homework {
  font-size: 14px;
}

p {
  text-align: left;
}

.professor {
  border: solid;
  border-radius: 5px;
  border-color: #778899;
  width: 120px;
  height: 120px;
  text-align: center;
  float: left;
  background-color: white;
}

.photo {
  text-align: center;
  margin-top: 40px;
}

.list {
  text-align: left;
  margin-left: 110px;
  margin-top: 35px;
}

.edit {
  margin-left: 280px;
  margin-top: 40px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: solid;
  width: 220px;
  height: 35px;
  border-color: #1E90FF;
  background-color: white;
  margin-bottom: 5px;
}

.edit-text {
  color: #1E90FF;
}

.cancel {
  border: solid;
  width: 220px;
  height: 35px;
  border-radius: 5px;
  border-color: red;
  background-color: white;
  margin-left: 280px;
}

.cancel-text{
  color: red;
}

ul {
  list-style-type: square;
}

li {
  padding: 5px;
}

h2 {
  color: black;
}

.button {
  margin-left: 480px;
  background: none;
  border: none;
}
